.v-r-room {
    box-sizing: border-box;
    width: 100%;
    /* background-color: red; */
    height: 70px;
    padding: 0px 120px;
    padding-right: 380px;    
    display: flex;
    position :relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.roomname {
    font-family: "Bebas Neue Pro" ;
font-size: 38px;
font-weight: 900;
line-height: 32.3px;
color: rgb(0, 0, 0);
z-index: 5;
}

.room-capacity {
    font-family: Helvetica; 
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(0, 0, 0);
    z-index: 5;
}
.room-area {
    font-family: Helvetica; 
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(0, 0, 0);
    z-index: 5;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: yellow;
    z-index: 3;
    transform: translateY(-100%); 
}