.middle2-main {
    width: 100vw;
    /* height: 100vh; */
    background-color: #e6acce;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25rem;
}

.images-grid-container {
    
    width: 100vw;
    /* background-color: red; */
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-auto-columns: calc(100vw / 5);
    /* grid-auto-rows: 100px; */
    grid-template-rows: repeat(10, 1fr) ;
    gap: 2rem;
    padding: 3rem;
    padding-top: 60vh;
    
    padding-bottom: 80vh;
}

.item {
    /* background-color: pink; */
    /* padding: 10px; */
    /* z-index: 1; */
}
/* .item:nth-child(2n) {
    grid-column: span 2;
    grid-column: span 2;
} */


/* .item:nth-child(5n) {
    grid-row: span 2;
    grid-column: span 3;
}

.item:nth-child(3n) {
    grid-row: span 3;
    grid-column: span 3;
} */
.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* z-index: -1; */
}

.images-grid-container > div {
    grid-row: var(--r);
    grid-column: var(--c);
    z-index: var(--z);
    transform: translateY(calc(var(--z) * 70px));
    
}

.middle2-heading {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #e6acce;
    font-family: "Baskerville";
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.middle-2-tagline {
    width: 65%;
    /* background-color: red; */
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-style: italic;
    position: sticky;
    top: 23rem;
    padding-top: 3rem;
    z-index: 4;
}

.bold-font {
    font-family: "Bebas Neue";
    font-size: 50px;
    font-weight: 400;
    /* line-height: 52.0312px; */
    color: rgb(0, 0, 0);
    font-style: normal;    
}